<!DOCTYPE html>
<html lang="en">
 
<head>
  <!-- Required meta tags -->
  <base href="/hbcadmin/">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>HBC ADMIN</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="vendors/css/vendor.bundle.addons.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <script type="" src="js/app.js"></script>
  <!-- endinject -->
  <script src="js/ng-notify.min.js"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.7.5/angular-sanitize.min.js"></script> -->
	<script src='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.0/textAngular-rangy.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.0/textAngular-sanitize.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.0/textAngular.min.js'></script>
    <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>
  <link rel="shortcut icon" href="images/favicon.png" />
<!--   <script>
  if(localStorage.getItem("loginStatus") !== "1") {
                   window.location.assign("login");
               };
             </script> -->
</head>

<style>
.navbar.default-layout .navbar-brand-wrapper .navbar-brand img {
    width: calc(255px - 130px);
    max-width: 100%;
    height: 28px;
    margin: auto;
    vertical-align: middle;
    height: auto;
    width: 40px;
    margin-right: 0px;
    padding-top: 5px;
}
.ta-hidden-input{
  display: none;
}
.navbar.default-layout .navbar-brand-wrapper .navbar-brand {
  color: #33b4f5;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    display: inline-block;
    line-height:0px;
}
.navbar.default-layout .navbar-brand-wrapper .navbar-brand  div{
  position: absolute;
    left: 111px;
}
.navbar.default-layout .navbar-brand-wrapper .navbar-brand span{
  margin-left: 45px;
}
.navbar.default-layout .navbar-brand-wrapper .navbar-brand:active, .navbar.default-layout .navbar-brand-wrapper .navbar-brand:focus, .navbar.default-layout .navbar-brand-wrapper .navbar-brand:hover {
    color: #33b4f5;
}
.sidebar .nav .nav-item .nav-link {
    align-items: center;
    display: flex;
    padding: 35px 35px 0px;
    white-space: nowrap;
    height: 52px;
    color: #4a4a4a;
}
</style>

<body ng-app="hbcadminApp" ng-cloak>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row" ng-if="islogin == true">
      <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
        <a class="navbar-brand brand-logo" href="home">
          <img src="images/hbc-logo.png" alt="logo" /><span>Holiday <div>By Chance</div></span>
        </a>
        <!-- <a class="navbar-brand brand-logo-mini" href="index.html">
          <img src="images/hbc-logo.png" alt="logo" />
        </a> -->
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center">
        
        <ul class="navbar-nav navbar-nav-right">
          
          <li class="nav-item dropdown d-none d-xl-inline-block">
            <a class="nav-link dropdown-toggle" id="UserDropdown" href="" data-toggle="dropdown" aria-expanded="false">
              <span class="profile-text">{{userName}}</span>
              <img class="img-xs rounded-circle" src="images/faces/profile.png" alt="Profile image">
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
              <a class="dropdown-item" ng-click="logout()" ng-controller="logoutCtrl">
                Sign Out
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar" ng-if="islogin == true">
        <ul class="nav">
          <li class="nav-item nav-profile">
            <div class="nav-link">
              <div class="user-wrapper">
                <div class="profile-image">
                  <img src="images/faces/profile.png" alt="profile image">
                </div>
                <div class="text-wrapper">
                  <p class="profile-name">{{userName}}</p>
                  <div>
                    <small class="designation text-muted">{{user_type}}</small>
                    <span class="status-indicator online"></span>
                  </div>
                </div>
              </div>
              <!-- <button class="btn btn-success btn-block">New Project
                <i class="mdi mdi-plus"></i>
              </button> -->
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="home">
              <i class="menu-icon mdi mdi-television"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="create-package">
              <i class="menu-icon mdi mdi-television"></i>
              <span class="menu-title">Create Package</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="create-deal">
              <i class="menu-icon mdi mdi-television"></i>
              <span class="menu-title">Create Deal</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="create-category">
              <i class="menu-icon mdi mdi-television"></i>
              <span class="menu-title">Create Category</span>
            </a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" href="packages">
              <i class="menu-icon mdi mdi-backup-restore"></i>
              <span class="menu-title">All Package</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="deals">
              <i class="menu-icon mdi mdi-chart-line"></i>
              <span class="menu-title">All Deal</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="category">
              <i class="menu-icon mdi mdi-table"></i>
              <span class="menu-title">All Category</span>
            </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="pages/icons/font-awesome.html">
              <i class="menu-icon mdi mdi-sticker"></i>
              <span class="menu-title">All Subcatagory</span>
            </a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <i class="menu-icon mdi mdi-restart"></i>
              <span class="menu-title">User Pages</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="pages/samples/blank-page.html"> Blank Page </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/samples/login.html"> Login </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/samples/register.html"> Register </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/samples/error-404.html"> 404 </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/samples/error-500.html"> 500 </a>
                </li>
              </ul>
            </div>
          </li> -->
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
      	<div ng-view></div> 
        
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <!-- <footer class="footer">
          <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018
              <a href="http://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with
              <i class="mdi mdi-heart text-danger"></i>
            </span>
          </div>
        </footer> -->
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="vendors/js/vendor.bundle.base.js"></script>
  <script src="vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="js/off-canvas.js"></script>
  <script src="js/misc.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="js/dashboard.js"></script>
  <!-- End custom js for this page-->
</body>

</html>