<style>
[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] {
     -webkit-appearance: none; 
}
.form-group label.dealtime{
    vertical-align: middle;
}
</style>

<div class="create"><h3>Update Deal</h3></div>
<div class="card col-md-12 card-box" style="margin-top:0px;">
  <div class="card-body">
    <form name="packageForm" ng-submit="updateDeal()">
     <div class="row">
        <div class="form-group col-md-6">
            <label for="" class="label-name">Package ID</label>
            <select class="form-control" id="package_id" ng-model="formData.package_id" required>
                <option ng-repeat="x in allDeal" ng-value="x.package_id.id">{{x.package_id.id}}{{x.package_id.name}}</option>  
            </select>
          </div>
        <div class="form-group col-md-6">
            <label for="" class="label-name">Deal Name</label>
           <input type="text" class="form-control" id="deal_name" aria-describedby="emailHelp" placeholder="Enter Deal Name" ng-model="formData.name" required>
          </div>
        <div class="form-group col-md-6">
                       <label for="dateofbirth" class="dealtime">Deal Open</label>
                        <input type="date" name="dealopen" id="start_time"" ng-model="formData.start_time">
                </div>
        <div class="form-group col-md-6">
                         <label for="dateofbirth" class="dealtime">Deal Close</label>
                        <input type="date" name="dealclose" id="end_time" ng-model="formData.end_time">
                </div>
                
        </div>
        <div class="col-lg-12">
           <button type="submit" class="btn btn-primary btn_short" id="submit">Submit</button>
        </div>

          </div>

</form>